# /etc/systemd/system/mullvad-check.service
[Unit]
Description=Mullvad Check
After=mullvad-daemon.service
Wants=mullvad-daemon.service
OnFailure=notify-email@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/mullvad-check

[Install]
WantedBy=multi-user.target
