[Unit]
After=network-online.target
Wants=network-online.target
Description=Send err email

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'senderrmail %i'
[Install]
WantedBy=multi-user.target
