[Unit]
Description=Powertop autotune

[Service]
Type=oneshot
ExecStart=/usr/bin/powertop --auto-tune

[Install]
WantedBy=default.target

# auri powertop
# sudo cp file /etc/systemd/system/
# sudo systemctl enable file
