[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/exocen/oh-my-zsh
	branch = master
[submodule "Web-Mail-Server"]
	path = Web-Mail-Server
	url = https://github.com/exocen/Web-Mail-Server
	branch = master
[submodule "polybar-conf"]
	path = polybar-conf
	url = https://github.com/exocen/polybar-conf
[submodule "i3-conf"]
	path = i3-conf
	url = https://github.com/exocen/i3-conf
[submodule "vim-conf"]
	path = vim-conf
	url = https://github.com/exocen/vim-conf
