## Remove all the weird extensions (compilation of classes, latex...)
*~
*#*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
*.class
*.log
*.aux
*.nav
*.out
*.snm
*.toc


## Hidden directory
.cache
.classpath
.project
.settings
.ensime
.ensime_lucene/
.idea/

## Directory to avoid
project/boot/
project/target/
project/project/
target/
/logs
tmp/
auto/
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
