*.log
*.tmp
*.png
=======
locals.zsh
log/.zsh_history
projects.zsh
custom
!custom/plugins/example
!custom/example.zsh
*.swp
!custom/example.zshcache
cache/
.gmx-private
conf_conf/mpd/*
!conf_conf/mpd/mpd.conf
