# /etc/systemd/system/notify-email@.service
# OnFailure=notify-email@%i.service

[Unit]
Description=Send email

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'echo "Subject:%H %i error\n`/usr/bin/systemctl status %i`" | /usr/bin/msmtp DESTINATION'

[Install]
WantedBy=multi-user.target
