[Unit]
Description=
# Requires=
# Wants=
After=network.target
OnFailure=notify-feed@%i.service notify-email@%i.service

[Service]
# Type :simple exec oneshot notify
Type=simple
# User=
# RemainAfterExit=yes

ExecStart=/path/
# ExecStop, ExecReload
# Restart=always
# RestartSec=30

[Install]
WantedBy=default.target
