/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    from { color: orange; }
    50% { color: white; }
    to { color: orange; }
}

@keyframes blink-critical {
    from { color: red; }
    50% { color: white; }
    to { color: red; }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    color: white;
}

/* The whole bar */
window#waybar {
    /* Switch if small monitor  */
    /* background: #323232; */
    background: transparent;
    font-family: monospace, NotoSansMono, SymbolsNerdFont;
    font-size: 14px;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}


/* Each module */
#clock,
#cpu,
#mpd,
#cava,
#custom-vpn-status,
#custom-capslock-status,
#custom-gpu-temp,
#custom-pacman-status,
#memory,
#network,
#pulseaudio,
#disk,
#tray,
#custom-iostat,
#custom-bluetooth-battery,
#temperature{
    /* Disable if small monitor  */
	border-radius: 50px;
    padding-left: 10px;
	padding-right: 10px;
    /**/
    margin: 5px;
	transition: none;
	color: white;
	background: #323232;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning, #disk.warning {
    color: orange;
}

#battery.critical, #disk.critical {
    color: red;
}

#battery.warning.discharging {
    animation: blink-warning 4s infinite;
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#custom-vpn-status {
    color:#9b59b6;
}

#cpu.warning {
    color: orange;
    animation: blink-warning 4s infinite;
}

#cpu.critical {
    animation: blink-critical 2s infinite;
}

#pulseaudio.muted, #custom-capslock-status {
    color:#909497;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    animation: blink-critical 2s infinite;
}

#network.disconnected {
    color: orange;
}

#temperature.critical {
    animation: blink-critical 2s infinite;
}

#window {
    font-weight: bold;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    border-top: 2px solid transparent;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: grey;
}

#workspaces button.focused, #workspaces button.visible {
    border-color: green;
    color: white;
    /* background-color: #0d3d1a; */
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#workspaces button:hover {
    background: none;
    background-color: #0d3d1a;
    color: white;
    box-shadow: none;
    text-shadow: none;
}

