[Unit]
Description=website-monitor
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=python3 /usr/bin/website-monitor.py

[Install]
WantedBy=multi-user.target
