[Unit]
Description=Ydl script
After=vpn_manager.service
Requires=vpn_manager.service
OnFailure=notify-email@%i.service
RequiresMountsFor=%/tmp_user_1%

[Service]
User=vpn_user
Type=oneshot
RemainAfterExit=yes
ExecStart=python3 ydl.py "%/tmp_user_1%" "path" "id"

[Install]
WantedBy=multi-user.target
