[Unit]
Description=Iostat info
PartOf=graphical-session.target
StopWhenUnneeded=yes

[Service]
Type=simple
Restart=always
ExecStart=/bin/bash -c 'iostat -dhxy 2 300 > /var/run/user/%U/iostat.log'

[Install]
WantedBy=sway-session.target
