[Unit]
Description=Ydl timer
Requires=ydl.service

[Timer]
Unit=ydl.service
OnCalendar=*:0/5
RandomizedDelaySec=300 
#5 min

[Install]
WantedBy=timers.target
