
[Unit]
Description=Check online status
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "ping 1.1.1.1 -c 5"

[Install]
WantedBy=multi-user.target