[Unit]
After=check-internet.service root_tmp.mount
Wants=check-internet.service root_tmp.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/python3 /usr/bin/vpn_switcher.py up
ExecStop=/usr/bin/python3 /usr/bin/vpn_switcher.py down
ExecReload=/usr/bin/python3 /usr/bin/vpn_switcher.py reload
Environment=WG_ENDPOINT_RESOLUTION_RETRIES=infinity

[Install]
WantedBy=multi-user.target
