[Unit]
Description=Tmpfs Mount

[Mount]
What=tmpfs
Where=/vpn_user_tmp
Type=tmpfs
Options=noexec,nodev,nosuid,mode=1700,size=90%,X-mount.mkdir,uid=

[Install]
WantedBy=multi-user.target