[Unit]
Description=Ydl script
After=vpn_manager.service
Requires=vpn_manager.service
OnFailure=notify-email@%i.service
RequiresMountsFor=%/tmp_user_1%

[Service]
User=vpn_user
ExecStart=python3 ydl

[Install]
WantedBy=multi-user.target
