# /etc/systemd/system/ydl.service
[Unit]
Description=Ydl script
After=mullvad-check.service
Requires=mullvad-check.service
OnFailure=notify-email@%i.service

[Service]
User=
ExecStart=/usr/bin/ydl

[Install]
WantedBy=multi-user.target
